

@font-face {
    font-family: Shabnam;
    font-weight: 900;
    src: url('/public/assets/fonts/Shabnam.eot');
    src: local("?"), url('/public/assets/fonts/Shabnam.woff') format("woff"), url('/public/assets/fonts/Shabnam.ttf') format("truetype");
    font-style: normal
}

@font-face {
    font-family: Shabnam;
    font-weight: bold;
    src: url('/public/assets/fonts/Shabnam-Bold.eot');
    src: local("?"), url('/public/assets/fonts/Shabnam-Bold.woff') format("woff"), url('/public/assets/fonts/Shabnam-Bold.ttf') format("truetype");
    font-style: normal
}

@font-face {
    font-family: Shabnam;
    font-weight: 500;
    src: url('/public/assets/fonts/Shabnam.eot');
    src: local("?"), url('/public/assets/fonts/Shabnam.woff') format("woff"), url('/public/assets/fonts/Shabnam.ttf') format("truetype");
    font-style: normal
}

@font-face {
    font-family: Shabnam;
    font-weight: 200;
    src: url('/public/assets/fonts/Shabnam-Light-FD-WOL.eot');
    src: local("?"), url('/public/assets/fonts/Shabnam-Light-FD-WOL.woff') format("woff"), url('/public/assets/fonts/Shabnam-Light-FD-WOL.ttf') format("truetype");
    font-style: normal
}

@font-face {
    font-family: Shabnam;
    font-weight: 400;
    src: url('/public/assets/fonts/Shabnam-FD-WOL.eot');
    src: local("?"), url('/public/assets/fonts/Shabnam-FD-WOL.woff') format("woff"), url('/public/assets/fonts/Shabnam-FD-WOL.ttf') format("truetype");
    font-style: normal
}